* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
}
.banner {
  width: 800px;
  display: flex;
  justify-content: center;
  font-size: 48px;
  padding: 24px;
}
.page-type {
  display: flex;
  magin-bottom: 16px;
}
.center-part {
  display: flex;
  background-color: #9e9e9e;
  width: 800px;
  flex-direction: column;
}
.paginator-container {
  display: flex;
  width: 800px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 48px;
}
.page-number {
  margin: 8px;
  font-size: 48px;
  text-decoration: none;
  color: #fff;
}
.article-container {
  display: flex;
  align-items: center;
  width: 800px;
  flex-wrap: wrap;
  flex-direction: column;
}
.article-title {
  display: flex;
  width: 800px;
  height: 340.4255319148936px;
  color: #fff;
  font-size: 28px;
  text-decoration: none;
  background-color: #bdbdbd;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}
footer {
  display: flex;
  flex-wrap: wrap;
}
.from-to {
  width: 800px;
  text-align: center;
  padding: 16px;
}
.footer-rss,
.footer-share {
  width: 400px;
  text-align: center;
  color: #000;
}
@media only screen {
  .post-container {
    display: flex;
    flex-wrap: wrap;
    width: 14rem;
    justify-content: center;
  }
  .toc-container {
    display: hidden;
    margin-top: 14rem;
    margin-left: 36rem;
    position: fixed;
    flex-wrap: wrap;
  }
  .toc-sideborder {
    display: hidden;
    width: 1px;
    background-image: linear-gradient(to top, rgba(93,93,93,0.04), rgba(93,93,93,0.2), rgba(93,93,93,0.04));
  }
  .toc {
    list-style-type: none;
  }
  .toc a {
    color: rgba(158,158,158,0.7);
    color: #9e9e9e;
    font-size: 0.9rem;
    border-bottom: 0;
  }
  .toc a:hover {
    color: rgba(189,189,189,0.7);
    border-bottom: 0;
  }
  .post-title {
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    margin: 3rem 0 1.5rem;
  }
}
h3 {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  color: #424242;
}
h4 {
  font-size: 1rem;
  letter-spacing: 0.08rem;
  color: rgba(66,66,66,0.9);
}
hr {
  margin: 4rem auto;
  border: 0;
  height: 1px;
  width: 80%;
  background-image: linear-gradient(to right, rgba(93,93,93,0.04), rgba(93,93,93,0.2), rgba(93,93,93,0.04));
}
p,
ul,
ol {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  margin: 1rem 0 2rem;
  word-break: normal;
}
ul,
ol {
  margin-left: 1.2rem;
}
li {
  margin-bottom: 1.8rem;
  letter-spacing: 0.08rem;
  line-height: 1.8rem;
}
li:last-child {
  margin-bottom: 0;
}
li li,
li p {
  color: rgba(66,66,66,0.7);
  font-size: 0.8rem;
  margin-right: 1.5rem;
}
p,
li {
  color: rgba(66,66,66,0.9);
}
p a,
li a {
  letter-spacing: 0.05rem;
  color: rgba(66,66,66,0.9);
  margin: 0 0.05rem;
  text-decoration: none;
  border-bottom: 0.9px solid rgba(0,0,0,0.25);
  word-break: break-all;
}
p a:hover,
li a:hover {
  color: rgba(66,66,66,0.4);
  border-bottom: 0.8px solid rgba(0,0,0,0.2);
}
@media only screen and (min-width: 501px) {
  h3 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    letter-spacing: 0.2rem;
  }
  h4 {
    font-size: 1.3rem;
    letter-spacing: 0.12rem;
  }
  .post-title {
    font-size: 2.5rem;
  }
  .post-container {
    width: 40rem;
  }
  .toc-container {
    display: flex;
  }
  .toc-sideborder {
    display: flex;
  }
  p,
  ul,
  ol {
    font-size: 1.1rem;
    line-height: 2.2rem;
    letter-spacing: 1.4px;
    margin-bottom: 2.5rem;
    margin-top: 1.2rem;
  }
  ul,
  ol {
    margin-left: 1.6rem;
  }
  li {
    line-height: 2rem;
  }
  li li {
    font-size: 0.95rem;
    line-height: 2rem;
  }
  ol,
  ul {
    margin-bottom: 0.5rem;
  }
  ol ol,
  ul ol {
    margin-left: 2rem;
    margin-top: 0.6rem;
  }
}
