* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  position: relative;
}
.theme-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  background-color: var(--background);
}
:root {
  --light-background: #e4eef6;
  --light-article-container: rgba(57,80,99,0.7);
  --light-article-title: #e4eef6;
  --light-paginator: #395063;
  --light-button: #395063;
  --light-header: #395063;
  --light-main-text: #395063;
  --light-quote: #395063;
  --light-horizon: linear-gradient(to right, rgba(57,80,99,0), rgba(57,80,99,0.75), rgba(57,80,99,0));
  --light-toc-side: linear-gradient(to top, rgba(57,80,99,0.06), rgba(57,80,99,0.6), rgba(57,80,99,0.06));
  --dark-background: #212121;
  --dark-article-container: #363636;
  --dark-article-title: #ccc;
  --dark-paginator: #2b2b2b;
  --dark-button: #181818;
  --dark-header: #d4d4d4;
  --dark-main-text: #c3c3c3;
  --dark-quote: #bdbdbd;
  --dark-horizon: linear-gradient(to right, rgba(158,158,158,0), rgba(189,189,189,0.75), rgba(158,158,158,0));
  --dark-toc-side: linear-gradient(to top, rgba(162,162,162,0.06), rgba(162,162,162,0.3), rgba(162,162,162,0.06));
}
.theme-container.light {
  --background: var(--light-background);
  --article-container: var(--light-article-container);
  --article-title: var(--light-article-title);
  --paginator: var(--light-paginator);
  --button: var(--light-button);
  --header: var(--light-header);
  --main-text: var(--light-main-text);
  --quote: var(--light-quote);
  --horizon: var(--light-horizon);
  --toc-side: var(--light-toc-side);
}
.theme-container.dark {
  --background: var(--dark-background);
  --article-container: var(--dark-article-container);
  --article-title: var(--dark-article-title);
  --paginator: var(--dark-paginator);
  --button: var(--dark-button);
  --header: var(--dark-header);
  --main-text: var(--dark-main-text);
  --quote: var(--dark-quote);
  --horizon: var(--dark-horizon);
  --toc-side: var(--dark-toc-side);
}
.page-type {
  display: none;
  height: 4rem;
}
.button-container {
  display: none;
}
.center-part {
  display: flex;
  flex-direction: column;
}
.active-page {
  color: #fafafa;
  text-shadow: 0 0 0.4rem #fff, 0 0 0.4rem #fff7b3, 0 0 0.6rem #fff7b3;
}
.paginator-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5rem;
  margin-bottom: 0.275rem;
  background-color: var(--paginator);
  position: sticky;
  top: 0;
}
.page-number {
  font-family: 'Wire One', sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  color: #fafafa;
  cursor: default;
  transition-duration: 500ms;
}
.page-number:hover {
  text-shadow: 0 0 0.4rem #fff, 0 0 0.4rem #fff7b3, 0 0 0.6rem #fff7b3;
}
.article-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
}
.article-title {
  display: flex;
  width: 100vw;
  height: 42.5531914893617vw;
  color: var(--article-title);
  background-color: var(--article-container);
  font-size: 1.1rem;
  letter-spacing: 0.2rem;
  text-align: center;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  padding: 0 2.5rem;
  margin-bottom: 0.275rem;
}
footer {
  display: flex;
  width: 100vw;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.from-to {
  font-family: 'Wire One', sans-serif;
  font-size: 1.1rem;
  width: 60vw;
  letter-spacing: 0.25rem;
  text-align: center;
  margin: 1rem 0 0.5rem;
  padding: 0 1rem;
  color: var(--main-text);
}
.more {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60vw;
  margin-top: 1rem;
  padding: 0 1rem;
  text-align: center;
}
.rss,
.newsletter,
.share {
  margin: 0 0.5rem;
  width: 10vw;
}
@media only screen and (min-width: 501px) {
  .center-part {
    width: 50vw;
  }
  .right-part {
    width: 25vw;
  }
  .button-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    height: 20rem;
    bottom: 16vh;
  }
  button {
    display: none;
    justify-content: center;
    width: 8vw;
    height: 4.944375772558714vw;
    background-color: var(--button);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.12), 0 -1px 3px 0 rgba(255,255,255,0.22), 0 1px 4px 0 rgba(0,0,0,0.1), inset 0px -3px 5px 0 rgba(0,0,0,0.4), inset 0 0 3px 2px rgba(255,255,255,0.6), inset 0px -2px 2px 0 rgba(255,255,255,0.12);
    border-radius: 0.8rem;
    border: none;
    margin-bottom: 2rem;
  }
  button img {
    transition: 500ms;
  }
  .down {
    transform: rotate(180deg);
  }
  .paginator-container {
    width: 50vw;
    padding: 2.5rem;
    margin-bottom: 0.5rem;
  }
  .page-number {
    font-size: 4rem;
  }
  .article-title {
    width: 50vw;
    height: 17.02127659574468rem;
    padding: 0 4rem;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.3rem;
  }
  .from-to {
    width: 25vw;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    margin-top: 2rem;
  }
  footer {
    width: 50vw;
    margin: 2rem 0;
  }
  .more {
    width: 25vw;
  }
  .rss,
  .newsletter,
  .share {
    width: 3rem;
  }
}
.main-container {
  display: flex;
  width: 100vw;
  align-items: center;
  background-color: var(--background);
  flex-direction: column;
}
.post-container {
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: 300;
  display: flex;
  flex-wrap: wrap;
  width: 18rem;
  justify-content: center;
  margin-bottom: 10rem;
}
.toc-container {
  width: 10rem;
  display: none;
  top: 10rem;
  right: 3rem;
  position: fixed;
}
.toc-sideline {
  display: none;
  width: 1px;
  background-image: var(--toc-side);
}
.toc-content {
  display: none;
  flex-direction: column;
}
.toc-content ol {
  list-style-type: none;
}
.toc-content ol ol {
  margin-left: 0.5rem;
  padding-left: 1rem;
  border-left: 0.05rem solid rgba(49,59,68,0.3);
}
.toc-content ol li {
  color: rgba(49,59,68,0.3);
  font-weight: 100;
}
.toc-content ol li:last-child {
  margin-bottom: 0;
}
.toc-content ol a {
  color: rgba(49,59,68,0.3);
  font-size: 0.9rem;
  border-bottom: 0;
}
.toc-content ol a:hover {
  transition: 300ms;
  color: var(--header);
  border-bottom: 0;
  cursor: default;
}
.toc-link.active {
  transition: 250ms;
  color: var(--main-text);
  border-bottom: 0;
}
.toc-link {
  transition: 250ms;
}
.title-container {
  width: 100%;
  padding: 1.6rem;
}
.post-title {
  font-family: 'Playfair Display', 'Noto Serif SC', serif;
  font-weight: 400;
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  margin: 4rem 0 3rem;
  width: 100%;
}
blockquote {
  border-left: 0.1rem solid rgba(49,59,68,0.5);
  padding-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 2rem;
}
blockquote p,
blockquote p a {
  margin: 0;
  font-size: 1rem;
  color: var(--main-text);
}
blockquote p a:hover,
blockquote p a a:hover {
  color: var(--main-text);
}
abbr {
  text-decoration: none;
}
h1,
h2 {
  color: var(--header);
  margin: 2rem 0;
}
h3 {
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 0.08rem;
  margin: 2rem 0;
  color: var(--header);
}
h4 {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.08rem;
  margin-top: 4rem;
  color: var(--header);
}
hr {
  margin: 4rem auto;
  border: 0;
  height: 1px;
  width: 100%;
  background-image: var(--horizon);
}
p,
ul,
ol {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 2.2rem;
  margin: 1rem 0 2rem;
  word-break: normal;
  color: var(--main-text);
}
p::selection,
li::selection,
h1::selection,
h3::selection,
h4::selection,
a::selection {
  color: var(--background);
  text-shadow: 0 0 0.05rem #fff;
  background-color: var(--main-text);
}
ul,
ol {
  margin-left: 1.2rem;
}
li {
  font-weight: 300;
  margin-bottom: 1rem;
  letter-spacing: 0.08rem;
  line-height: 1.8rem;
}
li li,
li p {
  color: var(--header);
  font-size: 0.9rem;
  margin-right: 1.5rem;
}
p a,
li a {
  letter-spacing: 0.05rem;
  color: var(--main-text);
  margin: 0 0.05rem;
  text-decoration: none;
  border-bottom: 0.9px solid rgba(0,0,0,0.25);
  word-break: break-all;
}
p a:hover,
li a:hover {
  color: var(--main-text);
  border-bottom: 0.8px solid rgba(0,0,0,0.2);
}
strong {
  letter-spacing: 0.05rem;
}
@media only screen and (min-width: 501px) {
  h3 {
    font-size: 1.6rem;
    letter-spacing: 0.15rem;
  }
  h4 {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
  }
  .toc-container,
  .toc-sideline,
  .toc-content {
    display: flex;
  }
  .post-title {
    font-size: 2.3rem;
  }
  .post-container {
    width: 50vw;
  }
  hr {
    margin: 6rem 0;
  }
  p,
  ul,
  ol {
    font-size: 1.15rem;
    line-height: 2rem;
    letter-spacing: 0.15rem;
    margin-bottom: 2.5rem;
    margin-top: 1.2rem;
  }
  li {
    line-height: 2rem;
  }
  li li {
    font-size: 0.95rem;
    line-height: 1.6rem;
  }
  ul,
  ol {
    margin-bottom: 0.5rem;
    margin-left: 1.6rem;
  }
  ul ol,
  ol ol {
    margin-left: 2rem;
    margin-top: 0.6rem;
  }
}
body {
  font-family: 'Playfair Display', 'Noto Serif SC', serif;
  background-color: #f5f5f5;
}
