* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  color: #fbfaf3;
  background-color: #3a4b6d;
}
html,
body {
  height: 100%;
  width: 100vw;
}
.theme-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  background-color: #fbfaf3;
  flex-wrap: wrap;
  word-break: break-all;
  hyphens: auto;
}
.category,
.music,
.film,
.book,
.blog {
  position: relative;
  left: -1rem;
  margin-top: 1rem;
  font-size: 1.25rem;
  font-family: futura;
  letter-spacing: 0.1rem;
  color: #6d9997;
}
.category a,
.music a,
.film a,
.book a,
.blog a {
  margin: 0;
  color: inherit;
  text-decoration: none;
}
strong {
  font-weight: 600;
}
.categories {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
nav {
  display: flex;
  width: 80%;
  height: 5rem;
  margin-bottom: 1rem 0 2rem;
}
nav .music,
nav .film,
nav .book {
  display: none;
}
nav .blog {
  left: 0;
  margin: 2rem 0 1rem;
  width: 100%;
  font-size: 1.5rem;
  font-family: futura;
  color: #6d9997;
}
span.dot {
  color: #ffa17a;
}
.articles-container {
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: column;
}
.articles-container .article-list {
  display: flex;
  flex-direction: column;
  height: 90%;
}
.articles-container .article-list .article-title {
  color: #142859;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-decoration: none;
  margin-bottom: 1rem;
}
.articles-container .article-list .article-title span {
  padding-bottom: 0.2rem;
  border-bottom: 0.025rem solid rgba(255,161,122,0.618);
}
.articles-container .page-number {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #5c7d7b;
}
footer {
  font-family: Snell Roundhand;
  color: #fbfaf3;
  display: flex;
  width: 100vw;
  height: 72px;
  padding: 1.5rem 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6d9997;
}
footer svg {
  width: 14px;
  height: 14px;
}
footer date.from-to {
  font-size: 12px;
  letter-spacing: 0.25rem;
  text-align: center;
  color: #fbfaf3;
}
@media only screen and (min-width: 501px) {
  .articles-container {
    width: 61.8%;
  }
  .articles-container .article-title {
    font-size: 20px;
    letter-spacing: 0.08rem;
    margin-bottom: 1.5rem;
  }
  .articles-container .page-number {
    font-size: 1.25rem;
    margin: 3rem 0 2.5rem;
  }
  nav {
    margin-bottom: 3rem;
  }
  nav .blog {
    width: 80%;
  }
  footer {
    padding: 2rem 0;
  }
  footer date.from-to {
    margin-top: 0.5rem;
    font-size: 1.25rem;
  }
}
.wrapper {
  display: flex;
  width: 100vw;
  flex-direction: column;
  flex-wrap: wrap;
  color: #0f1f43;
  font-size: 14px;
  font-weight: 500;
}
.wrapper nav.category {
  height: 1rem;
}
.category {
  display: none;
}
.post-container {
  display: flex;
  position: relative;
  left: 11.11111111111111vw;
  top: 16.666666666666668vw;
  flex-wrap: wrap;
  width: 66.66666666666667vw;
  justify-content: center;
  margin-bottom: 10rem;
  word-break: word-break;
}
.post-content {
  width: 80vw;
  font-family: 'Noto Serif SC', serif;
}
.title-container {
  width: 100%;
  padding: 0 1.6rem;
}
.post-title {
  font-family: 'Playfair Display', 'Noto Serif SC', serif;
  font-weight: 600;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0.7px;
  color: #142859;
  width: 100%;
}
blockquote {
  font-weight: 300;
  letter-spacing: 0.8px;
  border-left: 0.15rem solid #ffa17a;
  padding-left: 1rem;
  color: #5c7d7b;
}
blockquote p {
  display: flex;
  flex-wrap: wrap;
}
blockquote p a {
  display: inline;
}
blockquote p a a:hover {
  color: #5d6982;
}
blockquote:first-of-type {
  margin: 24px 0 48px;
  font-size: 16px;
}
abbr {
  text-decoration: none;
}
h3 {
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
  margin-top: 2rem;
}
h4 {
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 0.125rem;
  margin-top: 2rem;
}
hr {
  margin: 2.5rem auto;
  border: 0;
  height: 0.5px;
  width: 61.8%;
  background-color: #c7d6d4;
}
p,
a,
ol,
ul {
  letter-spacing: 2.4px;
  line-height: 2;
  margin-bottom: 24px;
  text-align: justify;
}
ul,
ol {
  margin-left: 1.2rem;
  list-style: none;
  list-style-image: url("/img/list-style-1.svg");
}
li {
  margin-bottom: 0.5rem;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
}
li::marker {
  color: #5c7d7b;
}
li:last-of-type {
  margin-bottom: 1.5rem;
}
li li,
li p {
  margin-right: 1.5rem;
  list-style: none;
  list-style-image: url("/img/list-style-2.svg");
}
p a,
li a {
  transition: all 400ms ease;
  color: #5c7d7b;
  text-decoration: none;
  border-bottom: 1px solid #ffa17a;
  word-break: break-all;
}
p a:hover,
li a:hover {
  color: #6d9997;
  border-color: rgba(255,161,122,0.618);
  transition: all 400ms ease;
}
strong {
  letter-spacing: 0.08rem;
}
p img {
  width: 75vw;
  box-shadow: 4px 4px 10px rgba(20,40,89,0.4);
}
.highlight {
  background-color: var(--main-text);
}
.highlight table {
  border: none;
  padding: 0.8rem;
}
.gutter {
  width: 1rem;
  border: none;
}
.gutter pre {
  font-size: 0.9rem;
  color: var(--background);
  padding: 0;
  line-height: 1.25rem;
}
.code {
  color: var(--background);
  border: none;
  padding-left: 0.5rem;
  letter-spacing: 0.15rem;
  font-size: 0.9rem;
  line-height: 1.3rem;
}
.code pre {
  width: 55vw;
  overflow: scroll;
}
@media only screen and (min-width: 501px) {
  blockquote p {
    margin-bottom: 1.5rem;
  }
  h3 {
    font-size: 1.8rem;
    letter-spacing: 0.06rem;
  }
  h4 {
    font-size: 1.5rem;
    letter-spacing: 0.055rem;
    margin-top: 2.5rem;
  }
  .toc-container,
  .toc-content {
    display: flex;
  }
  .post-title {
    font-size: 2.3rem;
  }
  .post-content {
    width: 50vw;
  }
  hr {
    margin: 0rem auto;
  }
  p,
  ul,
  ol {
    font-size: 1.15rem;
    line-height: 2rem;
    letter-spacing: 0.08rem;
    margin-bottom: 2.5rem;
    margin-top: 1.2rem;
  }
  li {
    line-height: 2rem;
  }
  li li {
    font-size: 0.98rem;
    line-height: 1.6rem;
  }
  ul,
  ol {
    margin-bottom: 0.5rem;
    margin-left: 1.6rem;
  }
  ul ol,
  ol ol {
    margin-left: 2rem;
    margin-top: 0.6rem;
  }
  table,
  th,
  td {
    width: 50vw;
    height: 0.5rem;
  }
  p img {
    width: 50vw;
    margin: 2rem 0;
  }
  .code pre {
    width: 45vw;
  }
}
body {
  font-family: 'Playfair Display', 'Noto Serif SC', serif;
  background-color: #f5f5f5;
}
